<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> <!--bootstrap-->
    <title>Register Page</title>
</head>
<body>
    <h1 class="mb-4">Registration Form</h1>

    <form action="/register" method="POST">
    <div class="mb-2">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="mb-2">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="mb-4">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button class="btn btn-primary mb-4">Register</button>
    </form>
    <a href="/login" class="btn btn-info">Login</a>
</body>
</html>